.header {
    /* background: #e7e8ed; */
    background: #f1f2f4;
}

.header__menu {
    padding-top: 25px;
    padding-bottom: 25px;
}

.menu {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.menu li a {
    text-decoration: none;
    color: black;
}

.login-icon {
    background-image: url("../img/box-arrow-in-right.svg");
    background-repeat: no-repeat;
    background-position: right;
    padding-right: 22px;
    background-size: 20px 20px;
}

.box__title {
    color: #48b4e2;
}